:root{
    /*Colores*/
    --dark-blue:#022e4b;
    --mid-blue:#185e8d;
    --light-blue:hsl(204, 71%, 57%);
    --dark-black:#070707;
    --mid-black:#313233;
    --grey:#e0e5e9;
    
  }
  
  body {
    background-color: var(--dark-black);
  }
  
  header{
    height: 400px;
    background-image: url('../img/Cosmos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
  }
  
  .nav-style li{
    list-style: none;
    text-decoration:none;
  }
  
  .li-style a{
    /*writing-mode: vertical-lr;*/
    font-weight: bold;
    /*color:var(--light-blue);*/
    text-decoration:none;
  }
  
  .profile-image{
    height:250px;
    border-radius:100%;
    position: relative;
    top:-150px
  }
  
  .portfolio-img{
    height: 340px;
  }
  
  h2, p{
    color:var(--grey) ;
  }

  /*Comentario rama prueba*/